<mat-card style="margin-top: 70px; ">
    <mat-card-title >Carrito N° {{numeroFactura}} </mat-card-title>
    <mat-card-subtitle class="letra">Subtotal: ({{total}} productos) $ {{valor}} 
      <a mat-stroked-button color="warn" [routerLink]="['../eliminar']" class="derecha">
        <mat-icon>history</mat-icon>
        eliminar factura</a>
    </mat-card-subtitle>
      <table mat-table [dataSource]="listaProducto" style="width: 100%;">

        <ng-container matColumnDef="eliminar"  >
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element ;index as i" style="width: 20%;"> 
            <button mat-mini-fab color="primary" (click)="Eliminar(i);"  >
              <mat-icon >delete</mat-icon>
           </button>
       </td>
        </ng-container>

        <ng-container matColumnDef="nombre" >
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element ;index as i"> 
            {{element.nombre}}
       </td>
        </ng-container>

        <ng-container matColumnDef="restar"  >
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element ;index as i"  style="width: 10%;"> 
            <button  mat-mini-fab color="primary"  (click)="restar(i)">
              <mat-icon> remove</mat-icon>
            </button>
       </td>
        </ng-container>
        <ng-container matColumnDef="cantidad" >
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element ;index as i" style="width: 5%;"> 
            {{element.cantidad}}
       </td>
        </ng-container>
        <ng-container matColumnDef="sumar" >
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element ;index as i" style="width: 10%;"> 
            <button  mat-mini-fab color="primary" (click)="sumar(i)">
              <mat-icon> add</mat-icon>
            </button>
       </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-card-actions>
        <button mat-raised-button (click)="Facturar()"  [disabled]="bloqueo" style="width: 100%; margin-top: 2%;">Pagar</button>
      </mat-card-actions>
</mat-card>
