<mat-card class="contendor-error" >
  <mat-card-content>
 <div class="row">
   <div class="col-12 col-sm-6">
    <img src="../../../../assets/imagenes/error404.png" class="imagen" alt="Logotipo dañado">
   </div>
   <div class="col-12 col-sm-6 align-self-center">
    <h2 class="text-center">Oops...! pagina no encontrada</h2>
    <h2 class="text-center"> Error 404</h2>
    <button  mat-raised-button color="primary" class="d-block mx-auto">
      Regresar inicio
    </button>
 </div>
 </div>
  </mat-card-content>
</mat-card>
