<mat-toolbar class="FixedCabecera" *ngIf="VerMenu$ | async">
    <a (click)="sidenav.toggle()" >
        <img src="../../../../assets/imagenes/pollo.webp" class="mt-2" width="110px" height="70px" />
    </a>
      <div class="mr-auto">
        <h2   class=" tituloPrincipal white d-none d-sm-flex">APP ASADERO</h2>
      </div>
    <span [matBadge]="notificacion"
          matBadgeOverlap="false"
          [matBadgeHidden]="notificacion===0">
      <a  routerLink="ventas/carrito">
      <mat-icon class="white">
        shopping_cart
      </mat-icon>
    </a>
  </span>

</mat-toolbar>
<mat-sidenav-container class="w-100 h-100" >
  <mat-sidenav #sidenav class="NavLateral"
                      [attr.role]="cerrarNav? 'dialog' : 'navigation'"
                      [mode]="cerrarNav ? 'side' : 'over'"
                      fixedInViewport="true"
                      fixedTopGap="70"
                      [opened]="cerrarNav">


        <mat-nav-list class="mt-2">
          <h2 class="mx-5 white">Menu</h2>
         <div  *ngFor="let menu of ListaMenu; index as i">
          <mat-list-item 
            *ngIf="menu.nombre != 'Cerrar sesion'"
            [routerLink]="menu.ruta"
            (click)="!cerrarNav ? sidenav.toggle() : ''"
            routerLinkActive="activar"
            class="white my-1">
          <mat-icon class="mr-1">
            {{ menu.icon }}
          </mat-icon>
          {{ menu.nombre }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item 
            *ngIf="menu.nombre == 'Cerrar sesion'" 
            routerLinkActive="activar" 
            class="white my-1"
            [routerLink]="menu.ruta" 
            (click)="logOut()" 
            (click)="sidenav.toggle()">
        <mat-icon>
          logout 
        </mat-icon>
        Cerrar sesión
      </mat-list-item>
          </div>
        </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="Contenedor">
    <app-cargando *ngIf="VerCargar | async"></app-cargando>
    <router-outlet
    (activate)='onActivate($event)'
    (deactivate)='onDeactivate($event)'></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
