<mat-card style="width: 100%; margin-top: 70px;">
    <mat-form-field appearance="standard" style="width: 50%; padding-right: 5%;">
     <button mat-icon-button matSuffix (click)="buscar()">
      <mat-icon>search</mat-icon>
     </button>
      <mat-label>Buscar</mat-label>
      <input matInput type="number" (keyup.enter)="buscar()" placeholder="Search"  [(ngModel)]="numeroFact">                
    </mat-form-field>

    <button  mat-mini-fab color="warn" [disabled]="bloqueo" (click)="Eliminar()" >
        <mat-icon>
          delete
        </mat-icon>
      </button>
    <table mat-table [dataSource]="ListaFactura" style="width: 100%;">

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element "> {{element.producto.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element "> {{element.cantidad}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha  </th>
        <td mat-cell *matCellDef="let element; index as i"> 
         {{element.datenow | date:'EEE dd-MMMM-yyyy' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Hora">
        <th mat-header-cell *matHeaderCellDef> Hora  </th>
        <td mat-cell *matCellDef="let element; index as i"> 
         {{element.tiempoactual }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>
