<div class="espacioCabecera">
    <mat-card class="tabla">
        <mat-card-header style="text-align: center;">
            <h2>Actualizar Pollos</h2> 
         </mat-card-header>
         <mat-card-content [formGroup]="PollosForm" >
            <mat-form-field appearance="standard" style="width: 100%;" >
                <mat-label>Pollos</mat-label>
                <input matInput type="number" (keyup.enter)="ActualizarPollo()" formControlName="pollo">
              </mat-form-field>
              <mat-form-field appearance="standard" style="width: 100%;" >
                <mat-label>Presas</mat-label>
                <input matInput type="number" (keyup.enter)="ActualizarPollo()" formControlName="presa">
              </mat-form-field>
                <mat-checkbox formControlName="validar">Solo editar</mat-checkbox>
         </mat-card-content>
         <mat-card-actions>
            <button mat-button (click)="ActualizarPollo()" [disabled]="!PollosForm.valid" 
            mat-raised-button color="warn" class="boton" >
            <mat-icon>update</mat-icon>
                Actualizar</button>
          </mat-card-actions>
    </mat-card>
</div>