    <mat-card class="w-75 mx-auto mt-3">
      <mat-card-header>
        <h2>Ingresar Gastos</h2>
      </mat-card-header>
        <mat-card-content [formGroup]="GastoForm"> 
                <mat-form-field class="w-100">
                    <mat-label>Selecciona tipo: </mat-label>
                    <mat-select formControlName="tipo" >
                      <mat-option value="factura">facturas</mat-option>
                      <mat-option value="diario">diarios</mat-option>
                      <mat-option value="Empleado">Empleados</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="w-100" >
                    <mat-label>Valor </mat-label>
                    <input matInput type="number" formControlName="valor">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Descripci&oacute;n</mat-label>
                    <textarea matInput formControlName="descripcion"></textarea>
                  </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="IngresarGasto()" 
            [disabled]="!GastoForm.valid" mat-raised-button color="warn"
             class="w-100 text-center" >
                Ingresar gasto</button>
          </mat-card-actions>
    </mat-card>      
