.contenedor{
    width: 100%;
    margin-top: 70px;
}
.cuadro{
    width: 45%;
    margin-left: 1%;
    margin-right: 1%;
}
  table{
    width: 100%; margin-top: 2%;
  }

  .Altura{
    width: 100%;
    margin-top: 5%;
  }
  .negrita{
    font-weight: bold;
  }
  